# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4174178ddfde16b71954da20a9e30f6bc8c38f54af9f638c7e8d945cd4928620ef414aef2c4a2dd7bf40ac7fa9f6f2ef8ac0fecd68b7a09aaa0ecf9d95131646

test:
  secret_key_base: 55c457599198c08f09d4855bb275283eac6a6c55661e255aed16696e84130e9dc530ad4f413e0a83675464e0936d6b03930d61a41bbee8101dd7ff1e2fdddf64

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
